h1 {
    color: chocolate;
    background-color: whitesmoke;
    padding: 20px;
    margin: 50px;
    width: 200px;
    border: 2px solid black;

}


h2 {
    
    color: rebeccapurple;
    background-color: seagreen;

}
    
    
    
  


.main {
    color: green;
    font-family: cursive;
    background-color: rgb(180, 107, 177);
    padding: 20px;
    border: 20px solid green;
    margin: 50px;
    width: 200px;
}

div li {
    font-size: 28px;
    border-left-style: solid;
    border-color: red;
    background-color: rgba(255, 0, 0, 0.082)
}

* {
    font-family: serif;
}

.iborder {
    border-style: groove;
    border-color: orange;
    border-width: 6px;
}

img {
    border-style: outset;
    border-color: black;
}